.button {
    background-color: var(--color-secondary);
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px solid var(--color-primary);

    font-size: 20px;
}

.button:active {
    background-color: var(--color-primary);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
